@-webkit-keyframes pcui-flash-animation {
    from { outline-color: $text-active; }
    to { outline-color: rgba($text-active, 0); }
}
@keyframes pcui-flash-animation {
    from { outline-color: $text-active; }
    to { outline-color: rgba($text-active, 0); }
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pcui-element {
    border: 0 solid $border-primary;

    @extend .font-regular;

    &.flash {
        outline: 1px solid $text-active;
        -webkit-animation: pcui-flash-animation 200ms ease-in-out forwards;
        animation: pcui-flash-animation 200ms ease-in-out forwards;
    }

    &:focus {
        outline: none;
    }

    // remove dotted border on focused elements in firefox
    &::-moz-focus-inner {
        border: 0;
    }
}
