// panel element
.pcui-panel {
    background-color: $bcg-primary;
}

// header of panel
.pcui-panel-header {
    background-color: $bcg-darker;
    color: $text-primary;
    font-size: 12px;
    white-space: nowrap;
    padding-left: 10px;
    flex-shrink: 0;
    align-items: center;
}

.pcui-panel-header-title {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    color: inherit;
    font-size: inherit;
    white-space: inherit;
    margin: 0 auto 0 0;
}

// contents of panel
.pcui-panel-content {
    flex: 1;
}

// collapsible panel
.pcui-panel.pcui-collapsible {
    // animate height and width
    transition: height 100ms, width 100ms;

    // cursor pointer on header
    > .pcui-panel-header {
        cursor: pointer;

        // expanded icon
        &::before {
            @extend .font-icon;

            content: '\E179';
            font-size: 14px;
            margin-right: 10px;
            text-align: center;
            color: $text-active;
        }

        // header collapsible hover state
        &:hover {
            color: $text-primary;

            &::before {
                color: $text-primary;
            }
        }
    }

    &.pcui-panel-normal {
        > .pcui-panel-header::before {
            content: '\E183';
            font-weight: 200;
        }
    }

    // delay visibility hidden
    > .pcui-panel-content {
        transition: visibility 100ms;
    }

    // collapsed panel
    &.pcui-collapsed {
        // hide stuff
        overflow: hidden;

        // hide contents
        > .pcui-panel-content {
            visibility: hidden;
        }

        > .pcui-panel-header {
            // collapsed icon
            &::before {
                content: '\E180';
            }
        }

        &.pcui-panel-normal {
            > .pcui-panel-header::before {
                content: '\E184';
            }
        }

        // collapsed horizontally
        &.pcui-panel-horizontal {
            > .pcui-panel-header {
                width: 2048px; // this is to make the now vertical header really big

                // rotate the header 90 degrees
                transform: rotate(90deg);
                transform-origin: 0% 100%;

                // collapsed icon
                &::before {
                    content: '\E177';
                }
            }

            &.pcui-panel-normal {
                > .pcui-panel-header::before {
                    content: '\E181';
                }
            }

            // do not animate visibility
            > .pcui-panel-content {
                transition: none;
            }
        }
    }
}

// resizable panel
.pcui-panel.pcui-resizable {
    // hide resize handle if panel is collapsed
    &.pcui-collapsible.pcui-collapsed {
        > .pcui-resizable-handle {
            display: none;
        }
    }

    // disable width / height transitions while resizing
    &.pcui-resizable-resizing {
        transition: none;

        > .pcui-panel-content {
            transition: none;
        }
    }
}

// sortable panel
.pcui-panel-header {
    > .pcui-panel-sortable-icon {
        color: $text-darkest;
        transition: color 100ms;

        @extend .pcui-flex;

        flex-direction: row;
        align-items: center;
        margin: 0 10px 0 0;
        height: 100%;

        // left border
        &::before {
            content: ' ';
            border-left: 1px solid $bcg-primary;
            margin-right: 10px;
            height: calc(100% - 14px);
            flex-shrink: 0;
        }

        // dots
        &::after {
            content: '.. .. ..';
            white-space: normal;
            width: 12px;
            line-height: 5px;
            overflow: hidden;
            height: 24px;
            font-size: 22px;
            letter-spacing: 1px;
            flex-shrink: 0;
        }
    }
}

// hover on sortable
.pcui-panel:not(.pcui-disabled, .pcui-readonly) {
    > .pcui-panel-header {
        > .pcui-panel-sortable-icon:hover {
            color: $text-primary;
            cursor: move;
        }
    }
}

// hide left border of sortable icon if panel is not collapsible
.pcui-panel:not(.pcui-collapsible) {
    > .pcui-panel-header {
        > .pcui-panel-sortable-icon::before {
            display: none;
        }
    }
}

// remove button
.pcui-panel-remove {
    align-self: flex-end;
    order: 100; // always put remove button last
    &::before {
        line-height: 30px;
    }
}

// hide remove button if readonly
.pcui-panel.pcui-readonly {
    .pcui-panel-remove {
        display: none;
    }
}

.pcui-panel-header > .pcui-button {
    flex-shrink: 0;
    margin: 1px;
    background-color: transparent;
    border: 0;
}

// disabled panel
.pcui-panel.pcui-disabled {
    > .pcui-panel-header {
        background-color: color.mix($bcg-dark, $bcg-primary, 60%);
        color: #999;
    }
}

.pcui-subpanel {
    box-sizing: border-box;
    margin: $element-margin;
    border: 1px solid $bcg-darker;
    border-radius: 2px;
    background-color: $bcg-dark;
    color: $text-secondary;
    font-size: 12px;

    .pcui-button {
        background-color: $bcg-primary;
        border-color: $bcg-darker;

        &:not(.pcui-disabled, .pcui-readonly) {
            &:hover,
            &:focus {
                background-color: $bcg-primary;
            }

            &:active {
                background-color: $bcg-dark;
            }
        }
    }
}
