// buttons
.pcui-button {
    @extend .pcui-no-select;

    display: inline-block;
    border: 1px solid $bcg-darkest;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: $bcg-dark;
    color: $text-secondary;
    padding: 0 8px;
    margin: $element-margin;
    height: 28px;
    line-height: 28px;
    max-height: 100%;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: color 100ms, opacity 100ms, box-shadow 100ms;
    overflow: hidden;
    text-overflow: ellipsis;
}

// icon
.pcui-button[data-icon] {
    // show icon using data-icon attribute
    // as the content
    &::before {
        content: attr(data-icon);

        @extend .font-icon;

        font-weight: 100;
        font-size: inherit;
        margin-right: $element-margin;
        vertical-align: middle;
    }

    // remove right margin from icons
    // if the button has no text
    &:empty {
        &::before {
            margin-right: 0;
        }
    }
}

// focus / hover states
.pcui-button:not(.pcui-disabled, .pcui-readonly) {
    &:hover,
    &:focus {
        color: $text-primary;
        background-color: $bcg-dark;
        box-shadow: $element-shadow-hover;
    }

    &:active {
        background-color: $bcg-darkest;
        box-shadow: none;
    }
}

// readonly states
.pcui-button.pcui-readonly {
    opacity: $element-opacity-readonly;
    cursor: default;
}

// disabled states
.pcui-button.pcui-disabled {
    opacity: $element-opacity-disabled;
    cursor: default;
}

// small button
.pcui-button.pcui-small {
    height: 24px;
    line-height: 24px;
    font-size: 10px;
}
