.pcui-contextmenu {
    box-sizing: border-box;
    border: 1px solid $bcg-darker;
    border-radius: 2px;
    background-color: $bcg-dark;
    color: $text-secondary;
    font-size: 12px;
    font-weight: 400;
    display: none;
    position: fixed;
    z-index: 9999;
}

.pcui-contextmenu-active {
    display: block;
}

.pcui-contextmenu {
    div {
        background-color: $bcg-dark;
        width: 150px;
        position: absolute;
    }
}

.pcui-contextmenu-parent {
    cursor: auto !important;
    div {
        display: none;
    }
}

.pcui-contextmenu-parent:hover {
    div {
        display: block;
    }
}

.pcui-contextmenu-parent-active {
    div {
        display: block;
    }
}

.pcui-contextmenu {
    div: {
        font-weight: bold;
    }
    div:hover {
        background-color: $bcg-primary;
        cursor: pointer;
    }
    div.pcui-contextmenu-parent:after {
        content: '\E160';
        font-family: 'pc-icon';
        font-size: 14px;
        text-align: center;
        background-color: transparent;
        color: #9ba1a3;
        line-height: 14px;
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
    }
}
