// Gridview Regular Item
.pcui-gridview-item {
    @extend .pcui-flex;

    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 104px;

    &:not(.pcui-disabled) {
        cursor: pointer;

        &:not(.pcui-gridview-item-selected, .pcui-gridview-radiobtn, .pcui-gridview-radiobtn-selected):hover {
            background-color: $bcg-darker;
        }
    }
}

.pcui-gridview-item-selected {
    background-color: $bcg-darkest;
}

.pcui-gridview-item-text {
    max-width: 100px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0 2px;
}

// GridView Radio Buttons
.pcui-gridview-radio-container {
    @extend .pcui-flex;

    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 104px;

    :not(.pcui-disabled) {
        cursor: pointer;
    }
}
