// container element
.pcui-container {
    // containers should be relative to each other
    position: relative;
    min-width: 0; // this fixes a lot of flex / grid issues
    min-height: 0; // this fixes a lot of flex / grid issues
}

// resizable content
.pcui-container.pcui-resizable {
    // resizable handle
    > .pcui-resizable-handle {
        position: absolute;
        z-index: 1;
        opacity: 0;
        background-color: transparent;
        touch-action: none;

        &:hover {
            opacity: 1;
        }
    }

    // resizable handle state while resizing
    &.pcui-resizable-resizing > .pcui-resizable-handle {
        opacity: 1;
    }

    // horizontal handle
    &.pcui-resizable-left,
    &.pcui-resizable-right {
        > .pcui-resizable-handle {
            top: 0;
            bottom: 0;
            width: 1px;
            height: auto;
            cursor: ew-resize;
        }
    }

    &.pcui-resizable-left {
        > .pcui-resizable-handle {
            left: 0;
            border-left: 3px solid $bcg-darkest;
        }
    }

    &.pcui-resizable-right {
        > .pcui-resizable-handle {
            right: 0;
            border-right: 3px solid $bcg-darkest;
        }
    }

    // vertical handle
    &.pcui-resizable-top,
    &.pcui-resizable-bottom {
        > .pcui-resizable-handle {
            left: 0;
            right: 0;
            width: auto;
            height: 1px;
            cursor: ns-resize;
        }
    }

    &.pcui-resizable-top {
        > .pcui-resizable-handle {
            top: 0;
            border-top: 3px solid $bcg-darkest;
        }
    }

    &.pcui-resizable-bottom {
        > .pcui-resizable-handle {
            bottom: 0;
            border-bottom: 3px solid $bcg-darkest;
        }
    }
}

.pcui-container-dragged {
    outline: 2px solid $text-primary;
    box-sizing: border-box;
    opacity: 0.7;
    z-index: 1;
}

.pcui-container-dragged-child {
    outline: 1px dotted $text-active;
    box-sizing: border-box;
}
