// #ifndef EXTRACT_CSS
@import '../scss/pcui-common';
// #endif EXTRACT_CSS

.pcui-gridview {
    @extend .pcui-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.pcui-gridview-vertical {
    @extend .pcui-flex;
    flex-direction: column;
    align-content: flex-start;
}
