.pcui-code {
    background: #20292b;
    overflow: auto;

    .pcui-code-inner {
        color: #f60;
        font-family: inconsolatamedium, Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
        font-weight: normal;
        font-size: 10px;
        white-space: pre;
    }
}
