.pcui-progress {
    height: 4px;
    background-color: $bcg-darkest;
    transition: opacity 100ms;
    width: 100%;

    .pcui-progress-inner {
        width: 0%;
        height: inherit;

        $first: rgba($text-active, 1);
        $second: rgba(color.adjust($text-active, $lightness: -17%), 1);

        background: $text-active;
        background:
            linear-gradient(
                135deg,
                $first 0%,
                $first 25%,
                $second 26%,
                $second 50%,
                $first 51%,
                $first 75%,
                $second 76%,
                $second 100%
            );
        background-position: 0 0;
        background-size: 24px 24px;
        background-repeat: repeat;

        // animate
        animation: pcui-progress-background 1000ms linear infinite;
    }
}

.pcui-progress.pcui-error {
    .pcui-progress-inner {
        $first: rgba(#f77, 1);
        $second: rgba(color.adjust(#f77, $lightness: -17%), 1);

        background: $text-active;
        background:
            linear-gradient(
                135deg,
                $first 0%,
                $first 25%,
                $second 26%,
                $second 50%,
                $first 51%,
                $first 75%,
                $second 76%,
                $second 100%
            );
        background-position: 0 0;
        background-size: 24px 24px;
        background-repeat: repeat;
        animation: none;
    }
}

// ui-progress animation
@keyframes pcui-progress-background {
    from { background-position: 0 0; }
    to { background-position: 24px 0; }
}
