@keyframes animation-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pcui-spinner {
    display: inline-block;
    margin: $element-margin;
    vertical-align: middle;

    > path {
        animation-name: animation-spin;
        animation-duration: 750ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: center;
    }

    &.pcui-error {
        > path {
            animation: none;
            fill: rgba(color.adjust(#f77, $lightness: -17%), 1);

            &.pcui-spinner-highlight {
                fill: rgba(#f77, 1);
            }
        }
    }
}
