// radio button
.pcui-radio-button {
    display: inline-block;
    position: relative;
    background-color: $bcg-darker;
    color: #fff;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    overflow: hidden;
    margin: $element-margin;
    transition: opacity 100ms, background-color 100ms, box-shadow 100ms;

    // outer ring
    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        width: 16px;
        min-width: 16px;
        height: 16px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: $bcg-darker;
    }

    // inner circle (hidden in initial state)
    &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 11px;
        min-width: 11px;
        height: 11px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: white;
    }
}

// selected
.pcui-radio-button-selected {
    // outer ring
    &::before {
        width: 16px;
        min-width: 16px;
        height: 16px;
        box-sizing: border-box;
        border: 1px solid white;
    }

    // inner circle
    &::after {
        content: '';
        display: block;
    }
}

// readonly
.pcui-radio-button.pcui-readonly {
    opacity: $element-opacity-readonly;
}

// disabled state
.pcui-radio-button.pcui-disabled {
    opacity: $element-opacity-disabled;
}

// hover
.pcui-radio-button:not(.pcui-disabled, .pcui-readonly) {
    &:hover {
        cursor: pointer;

        &::before {
            background-color: $bcg-darkest;
        }
    }
}
