@import '../scss/pcui.scss';

@-webkit-keyframes pcui-flash-animation {
    from { outline-color: $text-active; }
    to { outline-color: rgba($text-active, 0); }
}
@keyframes pcui-flash-animation {
    from { outline-color: $text-active; }
    to { outline-color: rgba($text-active, 0); }
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pcui-element {
    @extend .font-regular;

    border: 0 solid $border-primary;

    &.flash {
        outline: 1px solid $text-active;
        -webkit-animation: pcui-flash-animation 200ms ease-in-out forwards;
        animation: pcui-flash-animation 200ms ease-in-out forwards;
    }

    &:focus {
        outline: none;
    }

    // remove dotted border on focused elements in firefox
    &::-moz-focus-inner {
        border: 0;
    }
}

.pcui-element.pcui-hidden {
    display: none;
}

@import '../TextInput/style.scss';
@import '../TextAreaInput/style.scss';
@import '../NumericInput/style.scss';
@import '../SliderInput/style.scss';
@import '../VectorInput/style.scss';
@import '../BooleanInput/style.scss';
@import '../Label/style.scss';
@import '../Button/style.scss';
@import '../Code/style.scss';
@import '../Container/style.scss';
@import '../Panel/style.scss';
@import '../Overlay/style.scss';
@import '../Divider/style.scss';
@import '../InfoBox/style.scss';
@import '../SelectInput/style.scss';
@import '../Spinner/style.scss';
@import '../Progress/style.scss';
@import '../ContextMenu/style.scss';
@import '../TreeView/style.scss';
@import '../LabelGroup/style.scss';
@import '../GridView/style.scss';
@import '../GridViewItem/style.scss';
@import '../Menu/style.scss';
@import '../MenuItem/style.scss';
@import '../RadioButton/style.scss';
@import '../ArrayInput/style.scss';