.pcui-text-input {
    display: inline-block;
    border: 1px solid $bcg-darker;
    border-radius: 2px;
    box-sizing: border-box;
    margin: $element-margin;
    height: 24px;
    background-color: $bcg-dark;
    vertical-align: top;
    transition: color 100ms, background-color 100ms, box-shadow 100ms;
    position: relative;

    color: $text-secondary;

    > input {
        height: 100%;
        width: calc(100% - 16px);
        padding: 0 $element-margin;
        line-height: 1;
        color: inherit;
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        @extend .fixedFont;
    }

    &:before {
        color: inherit;
    }
}

.pcui-text-input.pcui-multiple-values {
    &:before {
        position: absolute;
        padding: 0 8px;
        content: '...';
        white-space: nowrap;
        @extend .fixedFont;
        top: 5px;
        font-size: 12px;
    }
}

// focus / hover states
.pcui-text-input:not(.pcui-disabled):not(.pcui-readonly) {
    &:hover {
        background-color: $bcg-darker;
        color: $text-primary;
    }

    &:not(.pcui-error):hover {
        box-shadow: $element-shadow-hover;
    }

    &.pcui-focus {
        background-color: $bcg-darkest;
        box-shadow: $element-shadow-active;
    }
}

.pcui-text-input {
    &.pcui-focus, &:hover {
        &:after, &:before {
            display: none;
        }
    }
}

// readonly state
.pcui-text-input.pcui-readonly {
    background-color: transparentize($color: $bcg-dark, $amount: 1 - $element-opacity-readonly);
    border-color: transparent;
}

// disabled state
.pcui-text-input.pcui-disabled {
    color: $text-darkest;
}

// error state
.pcui-text-input.pcui-error {
    color: $text-secondary;
    box-shadow: $element-shadow-error;
}

// placeholder
.pcui-text-input[placeholder] {
    position: relative;

    &:after {
        content: attr(placeholder);
        background-color: $bcg-dark;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 8px;
        line-height: 22px;
        font-size: 10px;
        font-weight: 600;
        white-space: nowrap;
        color: $element-color-placeholder;
        pointer-events: none;
    }
}
