.pcui-text-area-input {
    min-height: 48px;
    height: auto;

    > textarea {
        resize: none;
        height: 100%;
        width: calc(100% - 16px);
        padding: 0 8px;
        line-height: 22px;
        color: inherit;
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;

        @extend .fixed-font;

        min-height: 44px;
        min-width: 172px;
    }
}

.pcui-text-area-input.pcui-text-area-input-resizable-none {
    > textarea {
        resize: none;
    }
}

.pcui-text-area-input.pcui-text-area-input-resizable-both {
    > textarea {
        resize: both;
    }
}

.pcui-text-area-input.pcui-text-area-input-resizable-horizontal {
    > textarea {
        resize: horizontal;
    }
}

.pcui-text-area-input.pcui-text-area-input-resizable-vertical {
    > textarea {
        resize: vertical;
    }
}
