.pcui-vector-input {
    @extend .pcui-flex;

    flex-direction: row;
    align-items: center;
    gap: $element-margin;

    > .pcui-numeric-input {
        flex: 1;
        margin: $element-margin 0;
    }
}
