.pcui-vector-input {
    @extend .pcui-flex;

    flex-direction: row;
    align-items: center;

    > .pcui-numeric-input {
        flex: 1;
        margin: $element-margin calc($element-margin / 2);

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
