.pcui-select-input {
    @extend .pcui-flex;

    box-sizing: border-box;
    margin: $element-margin;
    border-radius: 2px;
    min-width: 0; // this prevents the element from overflowing
}

.pcui-select-input-container-value {
    @extend .pcui-flex;

    background-color: $bcg-dark;
    transition: box-shadow 100ms, opacity 100ms;
}

.pcui-select-input-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: box-shadow 100ms;
    border-radius: 2px;
    pointer-events: none;
    z-index: 1;
}

.pcui-select-input-value {
    &:not(.pcui-hidden) {
        display: block;
    }

    margin: 0;
    padding: 0 24px 0 ($element-margin + 2px);
    height: 24px;
    line-height: 24px;
    font-size: 12px;

    @extend .fixed-font;

    transition: background-color 100ms, color 100ms;
}

.pcui-label.pcui-select-input-value {
    margin: 0;
}

.pcui-select-input-textinput {
    margin: 0;
}

.pcui-select-input-textinput:not(.pcui-disabled, .pcui-readonly, .pcui-error) {
    &.pcui-focus,
    &:hover {
        box-shadow: none;
    }
}

.pcui-label.pcui-select-input-icon {
    position: absolute;
    right: $element-margin;
    color: $text-darkest;
    pointer-events: none;
    transition: color 100ms;
    margin: 0;
    height: 24px;
    line-height: 24px;

    &::after {
        @extend .font-icon;

        content: '\E159';
        vertical-align: middle;
    }
}

.pcui-select-input-has-disabled-value .pcui-container.pcui-select-input-list .pcui-label.pcui-selected {
    &::after {
        font-family: inherit;
        content: 'fallback';
        color: $text-primary;
        font-size: 10px;
        position: absolute;
        right: 6px;
    }
}

.pcui-label.pcui-select-input-disabled-value {
    &::after {
        @extend .font-icon;

        content: '\e133' !important;
        position: absolute;
        right: 6px;
    }
}

.pcui-select-input.pcui-open {
    .pcui-select-input-shadow {
        box-shadow: $element-shadow-hover;
    }

    .pcui-select-input-value {
        color: $text-primary;
        background-color: $bcg-darkest;
    }

    .pcui-select-input-icon::after {
        color: $text-primary;
        content: '\E157';
    }
}

.pcui-container.pcui-select-input-list {
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: $bcg-darker;

    .pcui-label {
        &:not(.pcui-hidden) {
            display: block;
        }

        font-size: 12px;

        @extend .fixed-font;

        height: 22px;
        line-height: 22px;
        padding: 0 24px 0 $element-margin;
        margin: 0;
        transition: background-color 100ms, color 100ms;

        &.pcui-selected {
            color: $text-primary;

            &::after {
                @extend .font-icon;

                content: '\E133';
                color: $text-darkest;
                position: absolute;
                right: $element-margin;
            }
        }
    }
}

.pcui-select-input-fit-height {
    .pcui-select-input-list {
        top: initial;
        bottom: 100%;
    }

    .pcui-select-input-shadow {
        top: initial;
        bottom: 0;
    }
}

.pcui-select-input-tags:not(.pcui-select-input-tags-empty) {
    margin-top: 1px;
    flex-wrap: wrap;
}

.pcui-select-input-tag {
    background-color: $bcg-darker;
    align-items: center;
    border-radius: 2px;
    border: 1px solid $border-primary;
    margin-right: 2px;
    margin-top: 2px;
    min-width: 0; // prevents flex overflow
    height: 18px;

    > * {
        margin: 0;
        background-color: transparent;
        border: 0;
    }

    > .pcui-label {
        padding: 0 5px 0 8px;

        @extend .fixed-font;
    }

    > .pcui-button {
        padding: 0 5px;
        height: 18px;
        line-height: 18px;
        flex-shrink: 0;

        &:not(.pcui-disabled, .pcui-readonly):hover {
            box-shadow: none;
            color: $error-secondary;
        }
    }
}

.pcui-select-input-tag-not-everywhere {
    > .pcui-label {
        opacity: 0.5;

        &::before {
            content: '*';
            margin-right: 5px;
        }
    }
}

.pcui-select-input:not(.pcui-disabled, .pcui-readonly) {
    .pcui-select-input-container-value {
        &:hover {
            .pcui-select-input-shadow {
                box-shadow: $element-shadow-hover;
            }

            .pcui-select-input-icon {
                color: $text-dark;
            }
        }
    }

    &.pcui-focus {
        .pcui-select-input-shadow {
            box-shadow: $element-shadow-hover;
        }

        .pcui-select-input-icon {
            color: $text-dark;
        }
    }

    .pcui-select-input-value:hover {
        color: $text-primary;
        background-color: $bcg-darkest;
        cursor: pointer;
    }

    .pcui-select-input-list {
        > *:hover,
        > .pcui-select-input-label-highlighted {
            background-color: $bcg-darkest;
            color: $text-primary;
            cursor: pointer;
        }
    }
}

.pcui-select-input-create-new {
    > .pcui-label {
        padding-right: $element-margin;
    }

    > .pcui-label:last-child {
        flex-shrink: 0;
        margin-left: auto;

        &::before {
            content: '\E120';

            @extend .font-icon;

            margin-right: $element-margin;
        }
    }
}

.pcui-select-input.pcui-disabled {
    opacity: $element-opacity-disabled;
}

.pcui-select-input {
    .pcui-label.pcui-disabled {
        opacity: $element-opacity-disabled;
    }
}

.pcui-select-input.pcui-readonly {
    .pcui-select-input-icon {
        display: none;
    }

    &.pcui-select-input-multi {
        .pcui-select-input-container-value {
            display: none;
        }

        .pcui-select-input-tag > .pcui-button {
            display: none;
        }
    }

    &.pcui-select-input-allow-input:not(.pcui-select-input-multi) {
        opacity: $element-opacity-readonly;

        .pcui-select-input-textinput::after {
            display: none;
        }
    }
}
