.pcui-array-input {
    margin: $element-margin;
    min-width: 0; // this prevents the element from overflowing

    > .pcui-numeric-input {
        margin: 0 0 $element-margin;
    }
}

.pcui-array-input.pcui-array-empty {
    > .pcui-numeric-input {
        margin: 0;
    }
}

.pcui-array-input-item {
    > * {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    // field should be stretched
    // except for ones marked
    // as specifically not flexible
    // and panel headers
    > *:first-child {
        &:not(.pcui-not-flexible, .pcui-panel-header) {
            flex: 1;
        }
    }

    > .pcui-button {
        margin-left: - calc($element-margin / 2);
        margin-right: 0;
        background-color: transparent;
        border: 0;
    }
}

.pcui-array-input-item-asset {
    > .pcui-button {
        margin-top: 36px;
    }
}

.pcui-array-input.pcui-readonly {
    .pcui-array-input-item-delete {
        display: none;
    }
}
