.pcui-infobox {
    box-sizing: border-box;
    margin: $element-margin;
    padding: 2 * $element-margin;
    border: 1px solid $bcg-darker;
    border-radius: 2px;
    background-color: $bcg-dark;
    color: $text-secondary;
    font-size: 12px;

    :first-child {
        color: $text-primary;
        margin-bottom: 2px;
    }

    // show icon using data-icon attribute
    // as the content
    &[data-icon]:not(.pcui-hidden) {
        display: grid;
        grid: auto-flow / min-content 1fr;

        &::before {
            content: attr(data-icon);

            @extend .font-icon;

            font-weight: 100;
            font-size: 16px;
            margin-right: 2 * $element-margin;
            vertical-align: middle;
            grid-column: 1;
            grid-row: 1 / 3;
        }
    }
}
