$bcg-darkest: #202020;
$bcg-darker: #202020;
$bcg-dark: #282828;
$bcg-primary: #333;
$text-darkest: rgb(170 170 170 / 50%);
$text-dark: rgb(170 170 170 / 50%);
$text-secondary: #aaa;
$text-primary: #fff;
$text-active: #f60;
$error: #fb222f;
$error-secondary: #d34141;
$border-primary: #aaa;
$element-shadow-hover: 0 0 2px 1px rgb(255 102 0 / 30%);
$element-shadow-active: 0 0 0 1px rgb(255 102 0 / 30%);
$element-shadow-error: 0 0 0 1px $error-secondary;
$element-color-placeholder: #829193;
