$bcg-darkest: #20292b;
$bcg-darker: #293538;
$bcg-dark: #2c393c;
$bcg-primary: #364346;
$text-darkest: #5b7073;
$text-dark: #9ba1a3;
$text-secondary: #b1b8ba;
$text-primary: #fff;
$text-active: #f60;
$error: #fb222f;
$error-secondary: #d34141;
$border-primary: #232e30;
$element-shadow-hover: 0 0 2px 1px rgb(255 102 0 / 30%);
$element-shadow-active: 0 0 0 1px rgb(255 102 0 / 30%);
$element-shadow-error: 0 0 0 1px $error-secondary;
$element-color-placeholder: #829193;
