@import './fonts/PlayIcons-Regular-woff';

@font-face {
    font-family: pc-icon;
    src: $playIconsRegularWoff;
    font-weight: normal;
    font-style: normal;
}

.font-icon {
    font-family: pc-icon;
}
