@import './fonts/PlayIcons-Regular-woff';

@font-face {
    font-family: pc-icon;
    src: $playIconsRegularWoff;
    font-weight: normal;
    font-style: normal;
}

.font-smooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

.font-icon {
    font-family: pc-icon;

    @extend .font-smooth;
}
