@import './font-icon.scss';

.font-thin {
    font-weight: 100;
    font-style: normal;
}

.font-light {
    font-weight: 200;
    font-style: normal;
}

.font-regular {
    font-weight: normal;
    font-style: normal;
}

.font-bold {
    font-weight: bold;
    font-style: normal;
}

.fixedFont {
    font-family: inconsolatamedium, Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-weight: normal;
    font-size: 12px;
}