@import './variables.scss';
@import './fonts.scss';
@import './pcui-common.scss';
@import './pcui-flex.scss';
@import './pcui-grid.scss';
@import './pcui-scrollable.scss';
@import './pcui-canvas.scss';
@import './pcui-label-group.scss';
@import './pcui-color-input.scss';
@import './pcui-gradient-input.scss';
@import './pcui-asset-input.scss';
@import './pcui-asset-list.scss';
@import './pcui-entity-input.scss';
@import './pcui-toggle-input.scss';
@import './pcui-asset-thumbnail.scss';
@import './pcui-array-input.scss';
@import './pcui-grid-view.scss';
@import './pcui-drop-manager.scss';
@import './pcui-drop-target.scss';
@import './pcui-inspector.scss';
@import './pcui-tooltip.scss';
@import './pcui-table.scss';
@import './pcui-hidden.scss'; // this should be last

.css-kdwx3d {
    background-color: #374346;
}
