@import './variables.scss';
@import './fonts-storybook.scss';
@import 'pcui-common.scss';
@import 'pcui-hidden.scss'; // this should be last

.css-kdwx3d {
    background-color: #374346;
}

.css-11nj37o {
    text-transform: none !important;
    letter-spacing: normal !important;
}
