@import './variables';
@import './fonts-storybook';
@import 'pcui-common';
@import 'pcui-hidden'; // this should be last

.css-kdwx3d {
    background-color: #374346;
}

.css-11nj37o {
    text-transform: none !important;
    letter-spacing: normal !important;
}
