name: CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup Node.js 18.x
      uses: actions/setup-node@v4
      with:
        node-version: 18.x
    
    - name: Install dependencies
      run: npm clean-install --progress=false --no-fund
    
    - name: Build PCUI
      run: npm run build

  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup Node.js 18.x
      uses: actions/setup-node@v4
      with:
        node-version: 18.x
    
    - name: Install dependencies
      run: npm clean-install --progress=false --no-fund
    
    - name: Build PCUI
      run: npm run build:es6
    
    - name: Run unit tests
      run: npm test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup Node.js 18.x
      uses: actions/setup-node@v4
      with:
        node-version: 18.x
    
    - name: Install dependencies
      run: npm clean-install --progress=false --no-fund
    
    - name: Run ESLint
      run: npm run lint

    - name: Run Publint
      run: npm run lint:package
    
    - name: Run Stylelint
      run: npm run lint:styles
